In [1]:
from pymongo import MongoClient
from pymongo.database import Database
from pymongo.collection import Collection
from pymongo.errors import OperationFailure

# Question 1

In [2]:
client = MongoClient('mongodb://localhost:27017/')

In [3]:
db = Database(client=client, name="db")
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db')

# Question 2

In [4]:
try:
    student_collection = Collection(db, "student_collection", create=True)
except OperationFailure:
    pass

In [5]:
db.student_collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db'), 'student_collection')

# Question 3

In [6]:
document1 = {
    "name": "Ilyas Mustafazade",
    "student_id": "2106A903",
    "age": 18,
    "email": "mustafazadeilyas04@gmail.com",
    "study_year": 2
}

document2 = {
    "name": "XXX YYYYYY",
    "student_id": "1564256",
    "age": 787,
    "email": "AAAAA@asnaac.com",
    "study_year": 3
}

document3 = {
    "name": "YYYY XXXXXX",
    "student_id": "4516456",
    "age": 211,
    "email": "AAAAA@gaghs.com",
    "study_year": 3
}

document4 = {
    "name": "ZZZZ XXXXXX",
    "student_id": "78784849",
    "age": 1300,
    "email": "BBBB@gaghs.com",
    "study_year": 2
}
document_lst = [document1, document2, document3, document4]
print(document_lst)

[{'name': 'Ilyas Mustafazade', 'student_id': '2106A903', 'age': 18, 'email': 'mustafazadeilyas04@gmail.com', 'study_year': 2}, {'name': 'XXX YYYYYY', 'student_id': '1564256', 'age': 787, 'email': 'AAAAA@asnaac.com', 'study_year': 3}, {'name': 'YYYY XXXXXX', 'student_id': '4516456', 'age': 211, 'email': 'AAAAA@gaghs.com', 'study_year': 3}, {'name': 'ZZZZ XXXXXX', 'student_id': '78784849', 'age': 1300, 'email': 'BBBB@gaghs.com', 'study_year': 2}]

In [7]:
db.student_collection.delete_many({})
for document in document_lst:
    db.student_collection.update_one(
	document, {"$setOnInsert": document}, upsert=True
)
db.student_collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db'), 'student_collection')

# Question 4

In [8]:
for student in db.student_collection.find():
    print(student)

{'_id': ObjectId('62fcc53a4e1598c3a25075d6'), 'age': 18, 'email': 'mustafazadeilyas04@gmail.com', 'name': 'Ilyas Mustafazade', 'student_id': '2106A903', 'study_year': 2}
{'_id': ObjectId('62fcc53a4e1598c3a25075d8'), 'age': 787, 'email': 'AAAAA@asnaac.com', 'name': 'XXX YYYYYY', 'student_id': '1564256', 'study_year': 3}
{'_id': ObjectId('62fcc53a4e1598c3a25075da'), 'age': 211, 'email': 'AAAAA@gaghs.com', 'name': 'YYYY XXXXXX', 'student_id': '4516456', 'study_year': 3}
{'_id': ObjectId('62fcc53a4e1598c3a25075dc'), 'age': 1300, 'email': 'BBBB@gaghs.com', 'name': 'ZZZZ XXXXXX', 'student_id': '78784849', 'study_year': 2}

# Question 5

In [9]:
third_year_student_lst = []
for student in db.student_collection.find():
    if student["study_year"] == 3:
        third_year_student_lst.append(student)
third_year_student_lst

[{'_id': ObjectId('62fcc53a4e1598c3a25075d8'),
  'age': 787,
  'email': 'AAAAA@asnaac.com',
  'name': 'XXX YYYYYY',
  'student_id': '1564256',
  'study_year': 3},
 {'_id': ObjectId('62fcc53a4e1598c3a25075da'),
  'age': 211,
  'email': 'AAAAA@gaghs.com',
  'name': 'YYYY XXXXXX',
  'student_id': '4516456',
  'study_year': 3}]

# Question 6

In [10]:
second_year_count = 0
for student in db.student_collection.find():
    if student["study_year"] == 2:
        second_year_count += 1
second_year_count

2