In [1]:
import pymongo
from pymongo import MongoClient
from pymongo.database import Database
from pymongo.collection import Collection
from pymongo.errors import OperationFailure
import numpy as np

# PyMongo: Question 1

In [2]:
client = MongoClient('mongodb://localhost:27017/')

In [3]:
db = Database(client=client, name="db")
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db')

# Question 2

In [4]:
try:
    employees_collection = Collection(db, "employees_collection", create=True)
except OperationFailure:
    pass

In [5]:
db.employees_collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db'), 'employees_collection')

# Question 3

In [6]:
document1 = {
    "employee_id": "2106A903",
    "name": "Ilyas Mustafazade",
    "salary": np.inf,
    "email": "mustafazadeilyas04@gmail.com",
    "job_id": 654651
}

document2 = {
    "employee_id": "441416",
    "name": "SDDFGHs QWERTY",
    "salary": 50,
    "email": "adnaallsvnainvap@gmail.com",
    "job_id": 84184492
}

document3 = {
    "employee_id": "714892",
    "name": "QWERTY UIOP",
    "salary": 0.2,
    "email": "adapmapovmpds@gmail.com",
    "job_id": 2686
}

document4 = {
    "employee_id": "24949284",
    "name": "ZXCVB NM",
    "salary": 300,
    "email": "vnkalvjfnav@gmail.com",
    "job_id": 65161
}
document_lst = [document1, document2, document3, document4]
print(document_lst)

[{'employee_id': '2106A903', 'name': 'Ilyas Mustafazade', 'salary': inf, 'email': 'mustafazadeilyas04@gmail.com', 'job_id': 654651}, {'employee_id': '441416', 'name': 'SDDFGHs QWERTY', 'salary': 50, 'email': 'adnaallsvnainvap@gmail.com', 'job_id': 84184492}, {'employee_id': '714892', 'name': 'QWERTY UIOP', 'salary': 0.2, 'email': 'adapmapovmpds@gmail.com', 'job_id': 2686}, {'employee_id': '24949284', 'name': 'ZXCVB NM', 'salary': 300, 'email': 'vnkalvjfnav@gmail.com', 'job_id': 65161}]

In [7]:
db.employee_collection.delete_many({})
for document in document_lst:
    db.employee_collection.update_one(
	document, {"$setOnInsert": document}, upsert=True
)
db.employee_collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db'), 'employee_collection')

# Question 4

In [8]:
for student in db.student_collection.find():
    print(student)

{'_id': ObjectId('62fcc53a4e1598c3a25075d6'), 'age': 18, 'email': 'mustafazadeilyas04@gmail.com', 'name': 'Ilyas Mustafazade', 'student_id': '2106A903', 'study_year': 2}
{'_id': ObjectId('62fcc53a4e1598c3a25075d8'), 'age': 787, 'email': 'AAAAA@asnaac.com', 'name': 'XXX YYYYYY', 'student_id': '1564256', 'study_year': 3}
{'_id': ObjectId('62fcc53a4e1598c3a25075da'), 'age': 211, 'email': 'AAAAA@gaghs.com', 'name': 'YYYY XXXXXX', 'student_id': '4516456', 'study_year': 3}
{'_id': ObjectId('62fcc53a4e1598c3a25075dc'), 'age': 1300, 'email': 'BBBB@gaghs.com', 'name': 'ZZZZ XXXXXX', 'student_id': '78784849', 'study_year': 2}

# Question 5

In [9]:
min_salary = np.inf
for employee in db.student_collection.find():
    if employee["salary"] <= min_salary:
        min_salary = employee["salary"]
        min_salary_employee = employee

print(min_salary_employee)
print("Min salary: ", min_salary_employee["salary"])

KeyError: 'salary'

# Question 6

In [ ]:
for employee in db.employee_collection.find().sort("salary", pymongo.DESCENDING):
    print(employee)

# AWS

In [ ]:
# Can not create AWS account (is not free)